<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <title>Detail - Seed</title>
</head>
<body>
    <h1 style="text-align:center"><b>{{seed.plant_name}}({{seed.used_scientific_name}})</b> 상세</h1>

    <p>{{seed.intro_num}}</p>
    <p>{{seed.family}}</p>
    <p>{{seed.genus}}</p>
    <p>{{seed.used_scientific_name}}</p>
    <p>{{seed.plant_name}}</p>
    <p>{{seed.microscope}}</p>
    <p>{{seed.seed_length}}</p>
    <p>{{seed.seed_length_error}}</p>
    <p>{{seed.seed_width}}</p>
    <p>{{seed.seed_width_error}}</p>
    <p>{{seed.note}}</p>
    <a href="edit/{{seed.id}}">수정</a>
    <a href="delete/{{seed.id}}">삭제</a>

    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>