{% extends "base.html" %}
{% block content %}

    <h1 style="text-align:center; margin: 20px auto;"><b>{{seed.plant_name}}({{seed.used_scientific_name}})</b> 상세</h1>

    <p>{{seed.intro_num}}</p>
    <p>{{seed.family}}</p>
    <p>{{seed.genus}}</p>
    <p>{{seed.used_scientific_name}}</p>
    <p>{{seed.plant_name}}</p>
    <p>{{seed.microscope}}</p>
    <p>{{seed.seed_length}}</p>
    <p>{{seed.seed_length_error}}</p>
    <p>{{seed.seed_width}}</p>
    <p>{{seed.seed_width_error}}</p>
    <p>{{seed.note}}</p>
    <a href="edit/{{seed.id}}">수정</a>
    <a href="delete/{{seed.id}}">삭제</a>

{% endblock content %}