{% extends "base.html" %}
{% block content %}

    <h1 style="text-align:center; margin: 20px auto;"><b>{{seed.plant_name}}({{seed.used_scientific_name}})</b> 수정</h1>
    <form action="" method="POST" enctype="multipart/form-data" style="width:60%; margin: 0 auto;">
        {% csrf_token %}
        <div class="form-floating mb-3">
            {{form.intro_num}}
            <label for="floatingInput">도입번호</label>
        </div>
        <div class="form-floating" style="margin: 15px auto;">
            {{form.family}}
            <label for="floatingSelect">과명</label>
        </div>
        <div class="form-floating" style="margin: 15px auto;">
            {{form.genus}}
            <label for="floatingSelect">속명</label>
        </div>
        <div class="form-floating mb-3">
            {{form.used_scientific_name}}
            <label for="floatingInput">도입학명</label>
        </div>
        <div class="form-floating mb-3">
            {{form.plant_name}}
            <label for="floatingInput">국명</label>
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">현미경</span>
            {{form.microscope}}
        </div>
        <div class="form-floating mb-3">
            {{form.seed_length}}
            <label for="floatingInput">종자길이(mm)</label>
        </div>
        <div class="form-floating mb-3">
            {{form.seed_length_error}}
            <label for="floatingInput">종자길이오차(mm)</label>
        </div>
        <div class="form-floating mb-3">
            {{form.seed_width}}
            <label for="floatingInput">종자너비(mm)</label>
        </div>
        <div class="form-floating mb-3">
            {{form.seed_width_error}}
            <label for="floatingInput">종자너비오차(mm)</label>
        </div>
        <div class="form-floating">
            {{form.note}}
            <label for="floatingTextarea">비고</label>
        </div>
        <div class="form-floating" style="margin: 15px auto;">
            {{form.user}}
            <label for="floatingSelect">생성자</label>
        </div>

        <div class="mb-3">
            <label for="formFileMultiple" class="form-label">종자 이미지</label>
            <input class="form-control" type="file" name="image" id="formFileMultiple" multiple>
        </div>

        기존에 등록된 이미지
        {% for img in seed.images.all %}
            <div style="margin:10px auto;">
                <input class="form-check-input" type="checkbox" value="{{img}}" name="origin_image{{img.id}}" id="flexCheckDefault" checked>
                <img src="/media/{{img.image}}" alt="{{img.image}}" style="margin-left:10px;width:30px;">
                <span style="margin-left:10px;font-size:13px;color:gray;">{{img.image}}</span>
            </div>
        {% endfor %}
        
        <input type="submit" value="수정" style="float:right;" class="btn btn-primary">
    </form>

{% endblock content %}