{% extends "base.html" %}
{% block content %}

    <h1 style="text-align:center; margin: 20px auto;"><b>{{genus.genus_ko}}({{genus.genus_en}})</b> 상세</h1>

    <table class="table table-striped" style="display:flex;justify-content:center;">
        <tbody>
        <tr>
            <th scope="row">속명</th>
            <td>{{genus.genus_en}}</td>
        </tr>
        <tr>
            <th scope="row">속국명</th>
            <td>{{genus.genus_ko}}</td>
        </tr>
        <tr>
            <th scope="row">생성자</th>
            <td>{{genus.user.name}}</td>
        </tr>
        </tbody>
    </table>

    {% if user == genus.user %}
        <div style="text-align:center;">
            <button type="button" class="btn btn-outline-primary" onclick="location.href='edit/{{genus.id}}'">수정</button>
            <button type="button" class="btn btn-outline-danger" onclick="location.href='delete/{{genus.id}}'">삭제</button>
        </div>
    {% else %}
        <div style="text-align:center">
        본인이 생성한 정보만 편집할 수 있습니다.
        </div>
    {% endif %}

{% endblock content %}