{% extends "base.html" %}
{% block content %}

    <h1 style="text-align:center; margin: 20px auto;"><b>{{family.family_ko}}({{family.family_en}})</b> 상세</h1>

    <table class="table table-striped" style="display:flex;justify-content:center;">
        <tbody>
        <tr>
            <th scope="row">과명</th>
            <td>{{family.family_en}}</td>
        </tr>
        <tr>
            <th scope="row">과국명</th>
            <td>{{family.family_ko}}</td>
        </tr>
        <tr>
            <th scope="row">생성자</th>
            <td>{{family.user.name}}</td>
        </tr>
        </tbody>
    </table>

    <div style="text-align:center;">
        <button type="button" class="btn btn-outline-primary" onclick="location.href='edit/{{family.id}}'">수정</button>
        <button type="button" class="btn btn-outline-danger" onclick="location.href='delete/{{family.id}}'">삭제</button>
    </div>

{% endblock content %}