{% extends "base.html" %}
{% block content %}

    <h1 style="text-align:center; margin: 20px auto;"><b>{{family.family_ko}}({{family.family_en}})</b> 수정</h1>
    <form action="" method="POST" style="width:60%; margin: 0 auto;">
        {% csrf_token %}
        <div class="form-floating mb-3">
            {{form.family_ko}}
            <label for="floatingInput">한글 이름</label>
        </div>
        <div class="form-floating mb-3">
            {{form.family_en}}
            <label for="floatingInput">영문 이름</label>
        </div>
        <input type="submit" value="수정" style="float:right;" class="btn btn-primary">
    </form>

{% endblock content %}
