{% extends "base.html" %}
{% block content %}

    {% csrf_token %}
    <h1 style="text-align:center; margin-top: 20px ">새로운 과명 생성</h1>
    <form action="" method="POST" style="width:60%; margin: 0 auto;">
        {% csrf_token %}
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">한글 이름</span>
            {{form.family_ko}}
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">영문 이름</span>
            {{form.family_en}}
        </div>
        <input type="submit" value="생성" style="float:right;" class="btn btn-primary">
    </form>

    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

{% endblock content %}