{% extends "base.html" %}
{% block content %}

    <h3 style="text-align:center; margin-top: 20px ">Seed</h3>
    <div style="display:flex;justify-content:center;">
        <table class="table table-hover" style="width:90%;">
            <thead>
                <tr>
                <th scope="col">도입번호</th>
                <th scope="col">과명</th>
                <th scope="col">속명</th>
                <th scope="col">도입학명</th>
                <th scope="col">국명</th>
                <th scope="col">현미경</th>
                <th scope="col">종자길이(mm)</th>
                <th scope="col">종자너비(mm)</th>
                <th scope="col">비고</th>
                <th scope="col">상세보기</th>
                </tr>
            </thead>
            <tbody>
                {% for s in seed_list %}
                    <tr>
                        <td>{{s.intro_num}}</td>
                        <td>{{s.family}}</td>
                        <td>{{s.genus}}</td>
                        <td>{{s.used_scientific_name}}</td>
                        <td>{{s.plant_name}}</td>
                        <td>{{s.microscope}}</td>
                        <td>{{s.seed_length}}±{{s.seed_length_error}}</td>
                        <td>{{s.seed_width}}±{{s.seed_width_error}}</td>
                        <td>{{s.note}}</td>
                        <td><a href="seed/detail/{{s.id}}">상세</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>


    <div style="display: flex;flex-wrap: wrap;justify-content: space-around;align-content: space-around;">
        <div style="width:45%;">
            <h3 style="text-align:center;">Family</h3>
            <table class="table table-hover">
                <thead>
                    <tr>
                    <th scope="col">과명</th>
                    <th scope="col">과국명</th>
                    <th scope="col">상세보기</th>
                    </tr>
                </thead>
                <tbody>
                    {% for f in family_list %}
                        <tr>
                            <td>{{f.family_en}}</td>
                            <td>{{f.family_ko}}</td>
                            <td><a href="/family/detail/{{f.id}}">상세</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div style="width:45%;">
            <h3 style="text-align:center;">Genus</h3>
            <table class="table table-hover">
                <thead>
                    <tr>
                    <th scope="col">속명</th>
                    <th scope="col">속국명</th>
                    <th scope="col">상세보기</th>
                    </tr>
                </thead>
                <tbody>
                    {% for g in genus_list %}
                        <tr>
                            <td>{{g.genus_en}}</td>
                            <td>{{g.genus_ko}}</td>
                            <td><a href="/genus/detail/{{g.id}}">상세</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock content %}